<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %yellow(%d{ISO8601}) %highlight(%-5level) [%blue(%-10t)] %yellow(%c{-1}:%L): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="Console" />
    </root>

</configuration>